<div class="wrap">
<div class="cardList">
    <div *ngFor="let tour of tourneyList">
        <mat-card class="tourneyCard">
            <mat-card-header>
                <mat-card-title>{{tour.name}}</mat-card-title>
                <mat-card-subtitle>{{tour.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="queryServer(tour.id)" id={{tour.id}}>VIEW</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<app-check-tournament-child *ngIf="toggler" [selectedTournament]="tournament"></app-check-tournament-child>
</div>