.cardList {
    display: grid;
    grid-template-columns: 1fr ;

}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.tourneyCard {
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 3fr;
}


@media only screen and (min-width: 1024px) {  
    .cardList {
        display: flex;
        flex-flow: column wrap;
    
    }
    .wrap{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}