<div class="signUpForm">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput id="signUpUserName" required [(ngModel)]="signUpUser.userName" name="userName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email Address</mat-label>
    <input matInput required [(ngModel)]="signUpUser.emailAddress" name="emailAddress" type="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput id="signUpPassword" required [(ngModel)]="signUpUser.password" name="password" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User Type</mat-label>
    <mat-select id="userType" required [(ngModel)]="signUpUser.userType" name="userType">
      <mat-option disabled>Select Your Account Type</mat-option>
      <mat-option value="participant">Participant</mat-option>
      <mat-option value="Organizer">Organizer</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<button mat-raised-button color="primary" (click)="signUpUserFunction()" class="btn btn-success">Submit</button>