    <div class="createTourney" *ngIf="organizerCheck">
      <mat-form-field appearance="outline" class="form-group">
        <mat-label for="name">Tournament Name</mat-label>
        <input matInput
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="tournament.name"
          name="name"
        />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-group">
        <mat-label for="description">Description</mat-label>
        <input matInput
          class="form-control"
          id="description"
          required
          [(ngModel)]="tournament.description"
          name="description"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label for="contact">Contact Email</mat-label>
        <input matInput
          class="form-control"
          id="contact"
          required
          [(ngModel)]="tournament.contact"
          name="contact"
          type="email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-group">
          <mat-label for="type">Tournament Type</mat-label>
          <mat-select
            class="form-control"
            id="type"
            required
            [(ngModel)]="tournament.type"
            name="type">
                <mat-option disabled>Select a Tournament Type</mat-option>
                <mat-option value="single-elimination">Single Elimination</mat-option>
                <mat-option value="double-elimination" disabled>Double Elimination</mat-option>
                <mat-option value="round-robin" disabled>Round Robin</mat-option>
        </mat-select>
      </mat-form-field>
        
      <button mat-raised-button color="primary" (click)="saveTournament()" class="btn btn-success">Submit</button>
    </div>
