<!-- <p>Single Elimination - Team View</p>

<hr>

<mat-card>
    <div class="bracket">
        <section class="round quarterfinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <h5>1-1</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos1.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos2.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <h5>1-2</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos3.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos4.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <h5>1-3</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos5.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos6.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <h5>1-4</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos7.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos8.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round semifinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <h5>2-1</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos9.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos10.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <h5>2-2</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos11.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos12.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round finals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <h5>3-1</h5>
                            <mat-card class='participant'>
                                <h1>{{bracketPos13.userName}}</h1>
                            </mat-card>
                            <mat-card class='participant'>
                                <h1>{{bracketPos14.userName}}</h1>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</mat-card> -->

<div class="tournament-container">
        <div class="tournament-headers">
          <h3>Quarter-Finals</h3>
          <h3>Semi-Finals</h3>
          <h3>Final</h3>
          <h3>Winner</h3>
        </div>
      
        <div class="tournament-brackets">
          <ul class="bracket bracket-2">
            <li class="team-item">{{bracketPos1.userName}} <time>VS</time> {{bracketPos2.userName}}</li>
            <li class="team-item">{{bracketPos3.userName}}<time>VS</time> {{bracketPos4.userName}}</li>
            <li class="team-item">{{bracketPos5.userName}} <time>VS</time> {{bracketPos6.userName}}</li>
            <li class="team-item">{{bracketPos7.userName}} <time>VS</time> {{bracketPos8.userName}}</li>
          </ul>  
          <ul class="bracket bracket-3">
            <li class="team-item">{{bracketPos9.userName}}<time>VS</time> {{bracketPos10.userName}}</li>
            <li class="team-item">{{bracketPos11.userName}} <time>VS</time> {{bracketPos12.userName}}</li>
          </ul>  
          <ul class="bracket bracket-4">
            <li class="team-item">{{bracketPos13.userName}}<time>VS</time> {{bracketPos14.userName}}</li>
          </ul>  
          <ul class="bracket bracket-5">
            <li class="team-item">{{bracketPos15.userName}}</li>
          </ul>  
        </div>
      </div>