<div *ngIf="selectedTournament" class="cardShow">

        <mat-card class="tourneyCard">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>{{selectedTournament.name}}</mat-card-title>
                <mat-card-subtitle>{{selectedTournament.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="horizontalCard">
            <div>
                <h3>Description</h3>
                <p>{{selectedTournament.description}}</p>
                <h3>Email</h3>
                <p>{{selectedTournament.contact}}</p>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div>
                <h3>Participants</h3>
                <app-display *ngIf="toggler"></app-display>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="joinTournament(selectedTournament)">JOIN</button>
                </mat-card-actions>
            </div>
        </div>
        </mat-card>    
</div>
<app-single-bracket-user-view *ngIf="selectedTournament" [tournamentId] = 'grabbedTourneyId' ></app-single-bracket-user-view>


