<p>Single Elimination</p>

<hr>

<mat-card>    
  <mat-checkbox *ngIf="organizerCheck"[formControl]="disableSelect">Disable select</mat-checkbox>
  <div class="bracket">
    <section class="round quarterfinals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1a" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1a']" (ngModelChange)="onBracketPos($event,'1a')">
                    <mat-placeholder></mat-placeholder>
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant'>
                <mat-form-field>
                  <mat-select id="1b" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1b']" (ngModelChange)="onBracketPos($event,'1b')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1c" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1c']" (ngModelChange)="onBracketPos($event,'1c')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1d" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1d']" (ngModelChange)="onBracketPos($event,'1d')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1e" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1e']" (ngModelChange)="onBracketPos($event,'1e')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1f" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1f']" (ngModelChange)="onBracketPos($event,'1f')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1g" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1g']" (ngModelChange)="onBracketPos($event,'1g')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="1h" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['1h']" (ngModelChange)="onBracketPos($event,'1h')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
    <section class="round semifinals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="2a" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['2a']" (ngModelChange)="onBracketPos($event,'2a')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="2b" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['2b']" (ngModelChange)="onBracketPos($event,'2b')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="2c" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['2c']" (ngModelChange)="onBracketPos($event,'2c')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="2d" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['2d']" (ngModelChange)="onBracketPos($event,'2d')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
    <section class="round finals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="3a" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['3a']" (ngModelChange)="onBracketPos($event,'3a')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              <mat-card class='participant' >
                <mat-form-field>
                  <mat-select id="3b" [disabled]="disableSelect.value" [(ngModel)]="bracketPos['3b']" (ngModelChange)="onBracketPos($event,'3b')">
                    <mat-option *ngFor="let t of tournamentParticipantList" [value]="t.id">{{t.userName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</mat-card>