<div class="signInForm">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput id="signInUserName" required [(ngModel)]="signInUser.userName" name="userName" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="password">Password</mat-label>
    <input matInput required [(ngModel)]="signInUser.password" name="password" />
  </mat-form-field>

</div>
<button mat-raised-button color="primary" (click)="signInUserFunction()" class="btn btn-success">Submit</button>